/* para estilização da calculadora */
body{
    height: 100vh;
    background-color: #8e33e1;
    font-family: Arial, Helvetica, sans-serif;
    /* para deixar os itens flexiveis */
    display: flex;
    /* para deixar os itens um abaixo do outro */
    flex-direction: column;
    /* para centralizar os itens na pagina */
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

.calculadora{
    background-color: #e2c2ff;
    width: 300pxpx;
    border-radius: 10px;
    /* para espaçamento interno entre elementos e borda */
    padding: 20px;
}

#display{
    background-color: white;
    width: 100%;
    height: 60px;
    /* para mudar a forma de calcular o tamanho da onde podem estar as coisas */
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    /* para colocar o texto da direita para a esquerda */
    text-align: right;
    font-size: 20px;
    /* para dar espaçamento entre o display e os botões */
    margin-bottom: 16px;
}

.box-buttons{
    /* para definir linhas e colunas */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button{
    border: none;
    border-radius: 6px;
    height: 60px;
    font-size: 20px;
}

/* estilização para mostrar ao usuario que esse botão é clicavel */

button:hover{
    background-color: #e1e1e1;
    cursor: pointer;
    transition: .4s;
}

/* para estilizar o botão zero */

.btn-zero{
grid-column: 1/3;
}

/* para estilizar o botão de igual/resultado */

.btn-igual{
    height: 100%;
    grid-row: 4/6;
    grid-column: 4;
}